@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
    font-family: 'Helvetica Neue', 'Oxygen';
    font-weight: 200;
    margin: 0;
    background-color: #244;
    color: #fff;
    transition: all 4s;
}

div.top {
    position: fixed;
    display: block;
    margin: 0;
    padding: 0;
    background-color: rgba(20, 20, 20, 0.9);
    width: 100%;
}

img.clogo {
    width: 30px;
    display: inline-flex;
}

div.cname {
    display: block;
    text-align: left;
    padding: 4vh;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 0.34em;
    float: left;
}

div.cplace {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 0.5em;
}

div.caside {
    float: right;
    display: block;
    padding: 4vh;
    font-size: 0.7em;
    margin: 0;
}

div.cphnumber {
    display: inline;
}

div.cemail {
    display: inline;
}

a.email {
    color: #fff;
    text-decoration: none;
}

span.csymbol {
    display: inline-block;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 1%;
}

div.portion {
    font-family: 'Helvetica Neue';
    font-weight: 200;
    display: block;
    margin: 0;
    padding: 20%;
    font-size: 1.3em;
    text-align: center;
}

div.portion.a {
    padding: 10%;
    background-color: rgba(10, 10, 10, 0.4);
}

div.portion small {
    font-size: 0.75em;
}

div.portion.b {
    padding: 10%;
    background-color: rgba(10, 10, 10, 0.4);
    min-height: 50vh;
}

div.portion.c {
    font-family: 'Oxygen';
    padding: 15%;
    min-height: 90vh;
}

div.banner {
    padding: 0.1%;
    display: none;
    background-color: #111;
    font-size: 1.5em;
    background-color: #fff;
}

div.smiley {
    font-size: 2em;
    font-family: serif;
}

div.foot {
    background-color: #222;
    display: block;
    background-image: none;
    font-size: 1em;
    text-align: center;
    padding: 5%;
}

span.csoon {
    font-size: 1.2em;
    text-align: left;
    padding: 1%;
}

table.cinfo td {
    padding: 0;
}

span.cadress {
    font-size: 0.3em;
    margin: 0;
    padding: 0;
    display: block;
}

table.cinfo {
    font-size: 2.1em;
    /*border: 1px dotted white;*/
    padding: 5%;
    display: inline-table;
}

img.clogo {
    max-width: 100px;
}

img.clogo2 {
    max-width: 100px;
}

a.ulined {
    text-decoration: underline;
}

ul.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li.navitem {
    display: block;
    float: left;
    padding: 1.5em;
}
li.navitem:hover {
    background-color: rgba(40, 120, 100, 0.2);
}

nav {
    text-align: center;
    padding: 0;
}
