@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    transition: all 4s;
}

body {
    font-family: 'Raleway';
    margin: 0;
    background-color: #244;
    color: #fff;
}

div.top {
    position: fixed;
    display: block;
    margin: 0;
    padding: 0;
    background-color: rgba(20, 20, 20, 0.9);
    width: 100%;
}

img.clogo {
    width: 30px;
    display: inline-flex;
}

div.cname {
    display: block;
    text-align: left;
    padding: 4vh;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 0.34em;
    float: left;
}

div.cplace {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 0.5em;
}

div.caside {
    float: right;
    display: block;
    padding: 4vh;
    font-size: 0.7em;
    margin: 0;
}

div.cphnumber {
    display: inline;
}

div.cemail {
    display: inline;
}

a.email {
    color: #fff;
    text-decoration: none;
}

span.csymbol {
    display: inline-block;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 1%;
}

div.portion {
    display: block;
    margin: 0;
    padding: 20%;
    font-size: 2.5rem;
    text-align: center;
}

div.portion.a {
    min-height: 50vh;
    padding: 10%;
    padding-top: 40vh;
    padding-bottom: 10vh;
}

div.portion small {
    font-size: 0.5em;
}

div.portion.b {
    padding: 12%;
}

div.portion.c {
    padding: 5%;
}

div.banner {
    padding: 10%;
    background-color: #111;
    font-size: 2.0em;
    background-image: url(images/Flickr2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

div.banner#diwali {
    background-image: url(images/happydiwali.jpg);
    min-height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div.smiley {
    font-size: 2em;
    font-family: serif;
}

div.diwalimsg {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5%;
    border-radius: 2%;
    display: table-cell;
}

div.foot {
    background-color: #222;
    display: block;
    background-image: none;
    font-size: 1em;
    text-align: center;
    padding: 5%;
}

span.csoon {
    font-size: 1.2em;
    text-align: left;
    padding: 1%;
}

table.cinfo td {
    padding: 0;
}

span.cadress {
    font-size: 0.3em;
    margin: 0;
    padding: 0;
    display: block;
}

table.cinfo {
    font-size: 1.5em;
    border: 1px dotted white;
    padding: 5%;
    display: inline-table;
}

img.clogo {
    max-width: 100px;
}

img.clogo2 {
    max-width: 300px;
}